
server:
  port: 9000


spring:
  datasource:
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/yol_product_center?useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
    druid:
      filters: stat,wall,slf4j
      initial-size: 5
      min-idle: 5
      max-active: 50
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 30000
      validation-query: SELECT 'X' FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

  # 配置 rabbitmq服务
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    connection-timeout: 15000
    virtual-host: /
    #确认消息已经发送到交换机
    publisher-confirm-type: correlated
    #确认消息已经发送到队列
    publisher-returns: true
    template:
      # 保证监听有效
      mandatory: true
    listener:
      type: simple
      simple:
        #限制每次发送一条数据
        prefetch: 1
        #手动确认
        acknowledge-mode: manual
        #同一个队列启动几个消费者
        concurrency: 5
        #启动最大消费者数量
        max-concurrency: 10
        #消息重试策略相关配置
        retry:
          enabled: true
          max-attempts: 3
          stateless: false
          multiplier: 1.0
          initial-interval: 1000ms
          max-interval: 10000ms
        default-requeue-rejected: true
    #消息确认ACK机制
    publisher-confirms: true

logging:
  level:
    com.smart.rabbitmq.mapper: debug

mybatis-plus:
  mapper-locations: classpath:/mapper/*Mapper.xml
  type-aliases-package: com.smart.rabbitmq.model
  global-config:
    db-config:
      id-type: auto





# feign配置
#feign:
#  okhttp:
#    enabled: true
#  hystrix:
#    enabled: false
#  httpclient:
#    enabled: false
#    max-connections: 1000
#    max-connections-per-route: 100
#  client:
#    config:
#      feignName:
#        connectionTimeout: 30000
#        readTimeout: 30000
#  ## 开启Feign请求响应压缩
#  compression:
#    request:
#      enabled: true
#      # 配置压缩文档类型以及最小压缩的文档大小
#      min-request-size: 2048
#      mime-types: text/xml,application/xml,application/json
#    response:
#      enabled: false

#Fanout model config
mq:
  pcenter:
    fanout:
      common:
        exchange: 'bjgyol.pcenter.fanout.common.exchange'
        queue: 'bjgyol.pcenter.fanout.common.queue'